
#block-ugwf-blocks-ugwf-footer{
    display: block;
    min-height: 45px;
    background: $light_blue_fade;
    margin-top: .35%;
}

.sharing{
  position: fixed;
  top: 10px;
}

.sharing__item{
  float: right;
}

.info_list{
  display: none;
}

@media screen and (min-width:650px){
#block-ugwf-blocks-ugwf-footer{
}

.footer{
  overflow: hidden;
}

.info{
  float: left;
  width: 70%;
}

.info_list{
  display: block;
  list-style: none;
}

.info_list__item{
  color: $text-color;
  font-family: $josef;
  font-size: .75em;
  padding: 1%;
  max-width: 220px;
  @include transit(background, .5s);
  background: $light_blue_fade;
  &:hover{
    background: $light_blue;
  }
}

.sharing{
  position: inherit;
  float: left;
  width: 30%;
  padding-top: 1%;
}

.sharing__item{
  float: right;
}
}