a{
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
}

ul{
  list-style: none;
}

h1{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}


// things we get rid of
.home, .page-album, .not-logged-in{
  #block-system-main, .messages{
    display: none;
  }
}

.page-user{
  #block-system-main, .messages{
    display: block;
  }
}


