.site-heading{
  font-family: $josef;
  font-size: 3em;
  font-weight: 400;
  color: $text-color;
  text-align: center;
  margin: auto;
  width: 90%;
  padding-bottom: 20px;
  padding-top: 30px;
  @include transit(height, .5s);
  @include transit(width, .5s);
  @include transit(margin, .5s);
}

#block-ugwf-blocks-ugwf-menu, #block-ugwf-blocks-ugwf-header {
  display: block;
  width: 100%;
  background: $light_blue_fade;
}

#block-ugwf-blocks-ugwf-menu{
  //  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 9px 200px -9px $brown;
}

// inner menu (inside the block)
.album_menu{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin: auto;
  width: 100%;
  font-family: $tang;
  font-size: 24px;
  font-weight: 400;
  overflow: hidden;
}

.album_menu__item{
  float: left;
  width: 46%;
  text-align: center;
  padding: 1%;
  padding-top: 17%;
  padding-bottom: 17%;
  margin: 1%;
  cursor: pointer;
  @include transit(background, .5s);
  @include transit(color, .5s);
  @include transit(height, .5s);
  background: $light_blue_fade;
}

.active{
  background: lighten($light_blue_fade, 5%);
}

//music heading
.music_heading {
  background: none;
  position: absolute;
  margin: auto;
  width: 30%;
  top: -27px;
  left: 35%;
  font-size: 1.5em;
  height: auto;
  padding: 0;
  color: $text-color;
  @include transit(background, .5s);
  @include transit(top, .5s);
  @include transit(left, .5s);
  @include transit(border, .5s);
}

@media screen and (min-width:650px){
  #block-ugwf-blocks-ugwf-menu, #block-ugwf-blocks-ugwf-header {
  }

  #block-ugwf-blocks-ugwf-menu{
    //  margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 9px 200px -9px $brown;
  }
  // Heading for the site
  .site-heading{
    font-size: 5em;
  }
  // inner menu (inside the block)
  .album_menu{
    margin: auto;
    width: 50%;
  }

  .album_menu__item{
    background: $light_blue_fade;
    width: 46%;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
    &:hover{
      background: lighten($light_blue_fade, 5%);
      a{
        color: $dark_blue_fade;
      }
    }
  }

  .active{
    background: $light_blue_fade;
  }

  //music heading
  .music_heading {
    background: none;
    width: 7%;
    top: -60px;
    left: 45%;
    &:hover{
      background: none;
    }
  }

  //play state

  .page-album{
    .site-heading{
      font-size: 2em;
      text-align: center;
      width: 30%;
      padding-bottom: 20px;
      padding-top: 20px;
      margin: 0;
    }
    .music_heading{
      width: 4%;
    }
    .album_menu__item{
      float: right;
      font-size: .75em;
      width: 9%;
      margin-bottom: 2px;
      margin-top: 2px;
    }
    .music_heading{
      top: -162%;
      left: -1.5%;
      background: none;
      width: 4%;
      border: none;
    }
    .album_menu{
      width: 100%;
    }
    .opening-vid{
      display: none;
    }
  }
}
