.present-container{
  background: rgba($beige, .2);
  position: relative;
}
.social_message{
  display: none;
}

.opening-vid{
  display: none;
}

.album_info{
  display: none;
  position: absolute;
  background: $light_blue_fade;
  border-radius: 0 0 141px 0;
  color: $text-color;
  //  box-shadow: 0px 63px 175px 0px $brown;
  height: 19%;
  width: 26%;
  z-index: 1;
  .album_title{
    font-size: 2em;
    font-family: $tang;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 65%;
  }
  .album_body{
    width: 64%;
    margin: auto;
    font-family: $josef;
    font-size: 1em;
  }
  .icon-right-dir{
    margin-left: 17%;
    display: inline-block;
    margin-top: 2%;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    @include transit(-webkit-transform, .5s);
    &:hover{
      -webkit-transform: rotate(90deg);
    }
  }
}

// songs container
.songs-container{
  float: left;
  width: 100%;
  margin-top: 0%;
  background: rgba($yellow_fade, .2);
//  min-height: 600px;
  position: absolute;
  z-index: 0;
  @include transit(width, 1s);
  @include transit(opacity, 1s);
}

.collapsed{
  width: 100%;
}

.songs-list{
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
}

// song items
.song_item{
  font-family: $josef;
  color: $light_blue_fade;
  font-size: 1em;
  background: rgba($yellow_fade, .5);
  @include transit(color, .5s);
  @include transit(background, .5s);
  padding: 10px;
  margin: 10px;
  &:hover{
    background: $light_blue_fade;
    color: $dark_blue;
  }
  span{
    margin-left: 15%;
  }
}

// pictures container
.pictures-container{
  overflow-x: scroll;
}

// Album Views
.album_container{
  overflow: scroll;
}

.player-box{
  display: none;
}

.page-album{
  .player-box{
    display: block;
  }
}

//player
.player-box{
  width: 100%;
  min-height: 65px;
  bottom: 0px;
  background: $light_blue_fade;
  z-index: 1;
  position: fixed;
}

.icon-pause, .icon-play {
  margin-left: 3%;
  &:before{
    font-size: 2.3em;
    padding-top: 15px;
  }
}

.progress-box {
  height: 19px;
  width: 70%;
  left: 20%;
  border: 1px solid $dark_blue;
  background: $light_blue_fade;
  margin: auto;
  position: absolute;
  top: 28%;
}

.progress-bar{
  height: 100%;
  width: 0%;
  top: 32%;
  background: rgba($orange_fade, .6);
  @include transit(width, .25s);
}

.song-title{
  position: absolute;
  font-family: $josef;
  font-size: 1em;
  color: $dark_blue_fade;
  padding-top: 3px;
  padding-left: 3px;
}

@media screen and (min-width:650px){
#block-ugwf-blocks-ugwf-presentation{
//  background: $brown;
}

.present-container{
  min-height: 480px;
}

.social_message{
  opacity: 0;
  width: 50%;
  margin: auto;
  @include transit(opacity, .5s);
  @include transit(height, .5s);
  @include transit(padding, .5s);
  text-align: center;
  a, span{
    font-size: 3em;
    font-family: $josef;
  }
}

// Album Views
.album_container{
  overflow: hidden;
}

.opening-vid{
  display: block;
}

.home{
  .opening-vid{
    display: block;
  }
  .album_container{
    display: none;
  }
}

.album_info{
  display: block;
}

.album_picture{
  float: left;
  img{
    max-height: 600px;
  }
}


// songs container
.songs-container{
  width: 26%;
}

.collapsed{
  width: 0;
  opacity: 0;
}

// list of songs
.songs-list{
  margin-top: 40%
}

// song items
.song_item{
  &:hover{
    background: $light_blue_fade;
    color: $dark_blue;
  }
  span{
    margin-left: 15%;
  }
}

.active-song{
  color: lighten($orange_fade, 20%);
  span{
    margin-left: 2%;
  }
}

.icon-headphones-1:before{
  font-size: .9em;
  margin-left: 15%;
}

.song-title{
  position: absolute;
  font-family: $josef;
  font-size: 1em;
  color: $dark_blue_fade;
  padding-top: 3px;
  padding-left: 3px;
}


//player
.player-box{
  min-height: 50px;
  position: relative;
}

// controls

.icon-pause, .icon-play {
  margin-left: 3%;
  &:before{
    font-size: 1.3em;
    padding-top: 15px;
  }
}

.progress-box {
  width: 80%;
  left: 11%;
}

}