$light_blue : rgba(177, 227, 255, 1);
$dark_blue : rgba(20, 186, 204, 1);
$orange : rgba(255, 172, 0, 1);
$brown : rgba(143, 152, 61, 1);
$yellow : rgba(204, 181, 20, 1);
$beige : rgba(200, 204, 152, 1);

$light_blue_fade : desaturate($light_blue, 40%);
$orange_fade : desaturate($orange, 40%);
$dark_blue_fade : desaturate($dark_blue, 50%);
$brown_fade : desaturate($brown, 40%);
$yellow_fade : desaturate($yellow, 40%);


$text-color: darken($brown, 10%);

//fonts
@import url(http://fonts.googleapis.com/css?family=Tangerine:700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic);

//fontello
@import "../ugwf-fontello/css/fontello.css";
[class^="icon-"]:before, [class*=" icon-"]:before{
  color: $text-color;
}

$tang : "Tangerine", cursive;
$josef : "Josefin Sans", sans-serif;

//mixins

@mixin transit($prop, $duration) {
  -moz-transition: $prop, $duration;
  -webkit-transition: $prop, $duration;
  -o-transition: $prop, $duration;
  transition: $prop, $duration;
}