@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?23306649');
  src: url('../font/fontello.eot?23306649#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?23306649') format('woff'),
       url('../font/fontello.ttf?23306649') format('truetype'),
       url('../font/fontello.svg?23306649#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23306649#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right-dir:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e806'; } /* '' */
.icon-desktop:before { content: '\e801'; } /* '' */
.icon-tablet:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '\e803'; } /* '' */
.icon-indent-right:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-play-1:before { content: '\e800'; } /* '' */
.icon-pause-1:before { content: '\e80a'; } /* '' */
.icon-fast-forward:before { content: '\e80b'; } /* '' */
.icon-headphones:before { content: '\e802'; } /* '' */
.icon-headphones-1:before { content: '\e80d'; } /* '' */
.icon-indent-left:before { content: '\e810'; } /* '' */
.icon-down:before { content: '\e80c'; } /* '' */
.icon-list:before { content: '\e80f'; } /* '' */
.icon-th-list:before { content: '\e80e'; } /* '' */
.icon-list-1:before { content: '\e811'; } /* '' */
