
.icon-right-dir:before { content: '\e807'; } /* '' */
.icon-list:before { content: '\e80f'; } /* '' */
.icon-pause:before { content: '\e806'; } /* '' */
.icon-desktop:before { content: '\e801'; } /* '' */
.icon-tablet:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '\e803'; } /* '' */
.icon-indent-right:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-play-1:before { content: '\e800'; } /* '' */
.icon-pause-1:before { content: '\e80a'; } /* '' */
.icon-fast-forward:before { content: '\e80b'; } /* '' */
.icon-list-1:before { content: '\e811'; } /* '' */
.icon-headphones:before { content: '\e802'; } /* '' */
.icon-headphones-1:after { content: '\e80d'; } /* '' */
.icon-indent-left:before { content: '\e810'; } /* '' */
.icon-th-list:before { content: '\e80e'; } /* '' */
.icon-down:before { content: '\e80c'; } /* '' */