@import url(http://fonts.googleapis.com/css?family=Tangerine:700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic);
@import url(../ugwf-fontello/css/fontello.css);
[class^="icon-"]:before, [class*=" icon-"]:before {
  color: #6d742e; }

a {
  text-decoration: none;
  color: #6d742e;
  cursor: pointer; }

ul {
  list-style: none; }

h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.home #block-system-main, .home .messages, .page-album #block-system-main, .page-album .messages, .not-logged-in #block-system-main, .not-logged-in .messages {
  display: none; }

.page-user #block-system-main, .page-user .messages {
  display: block; }

.site-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  font-weight: 400;
  color: #6d742e;
  text-align: center;
  margin: auto;
  width: 90%;
  padding-bottom: 20px;
  padding-top: 30px;
  -moz-transition: height, 0.5s;
  -webkit-transition: height, 0.5s;
  -o-transition: height, 0.5s;
  transition: height, 0.5s;
  -moz-transition: width, 0.5s;
  -webkit-transition: width, 0.5s;
  -o-transition: width, 0.5s;
  transition: width, 0.5s;
  -moz-transition: margin, 0.5s;
  -webkit-transition: margin, 0.5s;
  -o-transition: margin, 0.5s;
  transition: margin, 0.5s; }

#block-ugwf-blocks-ugwf-menu, #block-ugwf-blocks-ugwf-header {
  display: block;
  width: 100%;
  background: #c1dfef; }

#block-ugwf-blocks-ugwf-menu {
  position: relative;
  box-shadow: 0px 9px 200px -9px #8f983d; }

.album_menu {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin: auto;
  width: 100%;
  font-family: "Tangerine", cursive;
  font-size: 24px;
  font-weight: 400;
  overflow: hidden; }

.album_menu__item {
  float: left;
  width: 46%;
  text-align: center;
  padding: 1%;
  padding-top: 17%;
  padding-bottom: 17%;
  margin: 1%;
  cursor: pointer;
  -moz-transition: background, 0.5s;
  -webkit-transition: background, 0.5s;
  -o-transition: background, 0.5s;
  transition: background, 0.5s;
  -moz-transition: color, 0.5s;
  -webkit-transition: color, 0.5s;
  -o-transition: color, 0.5s;
  transition: color, 0.5s;
  -moz-transition: height, 0.5s;
  -webkit-transition: height, 0.5s;
  -o-transition: height, 0.5s;
  transition: height, 0.5s;
  background: #c1dfef; }

.active {
  background: #d5e9f5; }

.music_heading {
  background: none;
  position: absolute;
  margin: auto;
  width: 30%;
  top: -27px;
  left: 35%;
  font-size: 1.5em;
  height: auto;
  padding: 0;
  color: #6d742e;
  -moz-transition: background, 0.5s;
  -webkit-transition: background, 0.5s;
  -o-transition: background, 0.5s;
  transition: background, 0.5s;
  -moz-transition: top, 0.5s;
  -webkit-transition: top, 0.5s;
  -o-transition: top, 0.5s;
  transition: top, 0.5s;
  -moz-transition: left, 0.5s;
  -webkit-transition: left, 0.5s;
  -o-transition: left, 0.5s;
  transition: left, 0.5s;
  -moz-transition: border, 0.5s;
  -webkit-transition: border, 0.5s;
  -o-transition: border, 0.5s;
  transition: border, 0.5s; }

@media screen and (min-width: 650px) {
  #block-ugwf-blocks-ugwf-menu {
    position: relative;
    box-shadow: 0px 9px 200px -9px #8f983d; }

  .site-heading {
    font-size: 5em; }

  .album_menu {
    margin: auto;
    width: 50%; }

  .album_menu__item {
    background: #c1dfef;
    width: 46%;
    padding: 1%;
    margin: 1%;
    cursor: pointer; }
    .album_menu__item:hover {
      background: #d5e9f5; }
      .album_menu__item:hover a {
        color: #4c8d94; }

  .active {
    background: #c1dfef; }

  .music_heading {
    background: none;
    width: 7%;
    top: -60px;
    left: 45%; }
    .music_heading:hover {
      background: none; }

  .page-album .site-heading {
    font-size: 2em;
    text-align: center;
    width: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0; }
  .page-album .music_heading {
    width: 4%; }
  .page-album .album_menu__item {
    float: right;
    font-size: .75em;
    width: 9%;
    margin-bottom: 2px;
    margin-top: 2px; }
  .page-album .music_heading {
    top: -162%;
    left: -1.5%;
    background: none;
    width: 4%;
    border: none; }
  .page-album .album_menu {
    width: 100%; }
  .page-album .opening-vid {
    display: none; } }
.present-container {
  background: rgba(200, 204, 152, 0.2);
  position: relative; }

.social_message {
  display: none; }

.opening-vid {
  display: none; }

.album_info {
  display: none;
  position: absolute;
  background: #c1dfef;
  border-radius: 0 0 141px 0;
  color: #6d742e;
  height: 19%;
  width: 26%;
  z-index: 1; }
  .album_info .album_title {
    font-size: 2em;
    font-family: "Tangerine", cursive;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 65%; }
  .album_info .album_body {
    width: 64%;
    margin: auto;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em; }
  .album_info .icon-right-dir {
    margin-left: 17%;
    display: inline-block;
    margin-top: 2%;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transition: -webkit-transform, 0.5s;
    -webkit-transition: -webkit-transform, 0.5s;
    -o-transition: -webkit-transform, 0.5s;
    transition: -webkit-transform, 0.5s; }
    .album_info .icon-right-dir:hover {
      -webkit-transform: rotate(90deg); }

.songs-container {
  float: left;
  width: 100%;
  margin-top: 0%;
  background: rgba(159, 147, 65, 0.2);
  position: absolute;
  z-index: 0;
  -moz-transition: width, 1s;
  -webkit-transition: width, 1s;
  -o-transition: width, 1s;
  transition: width, 1s;
  -moz-transition: opacity, 1s;
  -webkit-transition: opacity, 1s;
  -o-transition: opacity, 1s;
  transition: opacity, 1s; }

.collapsed {
  width: 100%; }

.songs-list {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px; }

.song_item {
  font-family: "Josefin Sans", sans-serif;
  color: #c1dfef;
  font-size: 1em;
  background: rgba(159, 147, 65, 0.5);
  -moz-transition: color, 0.5s;
  -webkit-transition: color, 0.5s;
  -o-transition: color, 0.5s;
  transition: color, 0.5s;
  -moz-transition: background, 0.5s;
  -webkit-transition: background, 0.5s;
  -o-transition: background, 0.5s;
  transition: background, 0.5s;
  padding: 10px;
  margin: 10px; }
  .song_item:hover {
    background: #c1dfef;
    color: #14bacc; }
  .song_item span {
    margin-left: 15%; }

.pictures-container {
  overflow-x: scroll; }

.album_container {
  overflow: scroll; }

.player-box {
  display: none; }

.page-album .player-box {
  display: block; }

.player-box {
  width: 100%;
  min-height: 65px;
  bottom: 0px;
  background: #c1dfef;
  z-index: 1;
  position: fixed; }

.icon-pause, .icon-play {
  margin-left: 3%; }
  .icon-pause:before, .icon-play:before {
    font-size: 2.3em;
    padding-top: 15px; }

.progress-box {
  height: 19px;
  width: 70%;
  left: 20%;
  border: 1px solid #14bacc;
  background: #c1dfef;
  margin: auto;
  position: absolute;
  top: 28%; }

.progress-bar {
  height: 100%;
  width: 0%;
  top: 32%;
  background: rgba(204, 154, 51, 0.6);
  -moz-transition: width, 0.25s;
  -webkit-transition: width, 0.25s;
  -o-transition: width, 0.25s;
  transition: width, 0.25s; }

.song-title {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  color: #4c8d94;
  padding-top: 3px;
  padding-left: 3px; }

@media screen and (min-width: 650px) {
  .present-container {
    min-height: 480px; }

  .social_message {
    opacity: 0;
    width: 50%;
    margin: auto;
    -moz-transition: opacity, 0.5s;
    -webkit-transition: opacity, 0.5s;
    -o-transition: opacity, 0.5s;
    transition: opacity, 0.5s;
    -moz-transition: height, 0.5s;
    -webkit-transition: height, 0.5s;
    -o-transition: height, 0.5s;
    transition: height, 0.5s;
    -moz-transition: padding, 0.5s;
    -webkit-transition: padding, 0.5s;
    -o-transition: padding, 0.5s;
    transition: padding, 0.5s;
    text-align: center; }
    .social_message a, .social_message span {
      font-size: 3em;
      font-family: "Josefin Sans", sans-serif; }

  .album_container {
    overflow: hidden; }

  .opening-vid {
    display: block; }

  .home .opening-vid {
    display: block; }
  .home .album_container {
    display: none; }

  .album_info {
    display: block; }

  .album_picture {
    float: left; }
    .album_picture img {
      max-height: 600px; }

  .songs-container {
    width: 26%; }

  .collapsed {
    width: 0;
    opacity: 0; }

  .songs-list {
    margin-top: 40%; }

  .song_item:hover {
    background: #c1dfef;
    color: #14bacc; }
  .song_item span {
    margin-left: 15%; }

  .active-song {
    color: #e0c385; }
    .active-song span {
      margin-left: 2%; }

  .icon-headphones-1:before {
    font-size: .9em;
    margin-left: 15%; }

  .song-title {
    position: absolute;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
    color: #4c8d94;
    padding-top: 3px;
    padding-left: 3px; }

  .player-box {
    min-height: 50px;
    position: relative; }

  .icon-pause, .icon-play {
    margin-left: 3%; }
    .icon-pause:before, .icon-play:before {
      font-size: 1.3em;
      padding-top: 15px; }

  .progress-box {
    width: 80%;
    left: 11%; } }
#block-ugwf-blocks-ugwf-footer {
  display: block;
  min-height: 45px;
  background: #c1dfef;
  margin-top: .35%; }

.sharing {
  position: fixed;
  top: 10px; }

.sharing__item {
  float: right; }

.info_list {
  display: none; }

@media screen and (min-width: 650px) {
  .footer {
    overflow: hidden; }

  .info {
    float: left;
    width: 70%; }

  .info_list {
    display: block;
    list-style: none; }

  .info_list__item {
    color: #6d742e;
    font-family: "Josefin Sans", sans-serif;
    font-size: .75em;
    padding: 1%;
    max-width: 220px;
    -moz-transition: background, 0.5s;
    -webkit-transition: background, 0.5s;
    -o-transition: background, 0.5s;
    transition: background, 0.5s;
    background: #c1dfef; }
    .info_list__item:hover {
      background: #b1e3ff; }

  .sharing {
    position: inherit;
    float: left;
    width: 30%;
    padding-top: 1%; }

  .sharing__item {
    float: right; } }
